.editor-container {
  display: grid;
  grid-template-columns: 1fr;

  div.element {
    align-self: center;
    justify-self: center;
  }

  div.container {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(12, 2fr);
    padding: 1rem;

    div.field-name {
      grid-column: 5/6;
      justify-self: end;
      align-self: center;
      margin-right: 1rem;
    }

    div.input {
      grid-row: 1/2;
      grid-column: 6/8;
    }

    div.range {
      display: flex;
      @extend .input
    }

    div.action-button-save {
      grid-column: 7/8;
      margin-left: 1rem;
    }

    div.action-button-cancel {
      margin-right: 1rem;
      grid-column: 6/7;
    }
  }

  div.description-container {
    div.field-name {
      align-self: start;
    }

    @extend .container
  }
}


